{% extends "layout.twig" %}
{% block content %}
    <ul>
        <li>
            <a href="{{ 'admin/posts' | url }}"> Managment post</a>
        </li>
        <li>
            <a href="{{ 'admin/users' | url }}"> Managment users</a>
        </li>
    </ul>
{% endblock %}
